<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculator</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-[#0E0E0E] flex items-center justify-center">
    <div class=" bg-[#1C1B21]" >
        <div class=" rounded-b-md ">
            <input type="text" id="display" class="w-full p-2 rounded-b-3xl h-40 bg-[#33313C]" readonly>
        </div> 
        <div class="gap-2 p-2">
            <button class="p-6 text-white " >√</button>
            <button class="p-6  text-white " >π</button>
            <button class="p-6  text-white " >∧</button>
            <button class="p-6  text-white " >!</button>
            <button class="p-2  text-white rounded-full bg-[#25242C] h-12 w-12">∨</button>
        </div>
        <div class="grid grid-cols-4 gap-2  p-5">

            <button class="p-4 bg-[#623B4E] text-white rounded-full" >AC</button>
            <button class="p-4 bg-[#48455A] text-white rounded-full">()</button>
            <button class="p-4 bg-[#48455A] text-white rounded-full" >%</button>
            
            <button class="p-4 bg-[#48455A] text-white rounded-full" >÷</button>
            <button class="p-4 bg-[#25242C] text-white rounded-full" >7</button>
            <button class="p-4 bg-[#25242C] text-white rounded-full" >8</button>
            <button class="p-4 bg-[#25242C] text-white rounded-full" >9</button>

            <button class="p-4 bg-[#48455A] text-white rounded-full" >X</button>
            <button class="p-4 bg-[#25242C] text-white rounded-full" >4</button>
            <button class="p-4 bg-[#25242C] text-white rounded-full" >5</button>
            <button class="p-4 bg-[#25242C] text-white rounded-full" >6</button>

            <button class="p-4 bg-[#48455A] text-white rounded-full" >-</button>
            <button class="p-4 bg-[#25242C] text-white rounded-full" >1</button>
            <button class="p-4 bg-[#25242C] text-white rounded-full" >2</button>
            <button class="p-4 bg-[#25242C] text-white rounded-full" >3</button>
            <button class="p-4 bg-[#48455A] text-white rounded-full" >+</button>
            <button class="p-4 bg-[#25242C] text-white rounded-full" >0</button>
            <button class="p-4 bg-[#25242C] text-white rounded-full" >.</button>
            <button class="p-4 bg-[#25242C] text-white rounded-full" >⌫</button>
            <button class="p-4 bg-[#473F7A] text-white rounded-full" >=</button>
        </div>
    </div>
</body>
</html>
